@font-face {
    font-family: 'Kanit-Light';
    src: url("../fonts/Kanit-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

.wrapper {
    font-family: Kanit-Light, serif;
}